<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>

<body>
    <div class="container">
        <h1>Registration Page</h1>
        <!-- <p>Current server time is: <%= requestTime %>
        </p> -->
        <form action="/users" method="post">
            <h2>Add a User</h2>
            <input type="text" name="id" placeholder="User ID" required>
            <input type="text" name="name" placeholder="User Name" required>
            <button type="submit">Register</button>
        </form>
        <h2>Registered Users</h2>
        <ul>
            <% users.forEach(user=> { %>
                <li>
                    <%= user.id %> - <%= user.name %>
                </li>
                <% }) %>
        </ul>
    </div>
</body>

</html>